.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  border: 3px solid red;
  height: 250px;
  width: 250px;
}

.GroupBox {
  border: 3px solid blue;
  height: 250px;
  width: 250px;
  margin: 30px;
}
